---
import { client, graphqlClient } from "@lib/client.ts";
import { Icon } from "astro-icon/components";
import type { SocialMenuResult } from "@/types/menus";

interface Props {
  width?: number;
  height?: number;
}

const { width = 40, height = 40 } = Astro.props;

const query: SocialMenuResult = await graphqlClient.query(
  `query MainMenu {
      menu(name: SOCIAL_LINKS) {
        items {
          id
          title
          url
          extras {
            ... on MenuLinkContentSocialLink {
              icon
            }
          }
        }
      }
    }`,
);

const socialMenu = query.data.menu.items;
---

<div class="social-links">
  {
    socialMenu.map((item) => {
      const icon = item.extras.icon.replace(/\s*\(.*?\)/g, "");
      const set = item.extras.icon.match(/\((.*?)\)/);
      const name = `${set ? `${set[1]}:` : ":"}${icon}`;
      return (
        <a href={item.url} target="_blank">
          <Icon name={name} width={width} height={height} />
        </a>
      );
    })
  }
</div>
